@font-face {
    font-family: '.';
    src: url('a5164cd423dddf53b7ce2ed347b98b82.woff2') format('woff2'),
        url('a5164cd423dddf53b7ce2ed347b98b82.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shentox';
    src: url('Shentox-Medium.woff2') format('woff2'),
        url('Shentox-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('95300a564c2f5853857bf78aafa2e8d9.woff2') format('woff2'),
        url('95300a564c2f5853857bf78aafa2e8d9.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('d8010b0bc5d812cd9c284bfcdb3ec4d6.woff2') format('woff2'),
        url('d8010b0bc5d812cd9c284bfcdb3ec4d6.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TNW Avalon';
    src: url('TNWAvalon-Bold.woff2') format('woff2'),
        url('TNWAvalon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('27a1df69ddfd92372d990ca79837cfc0.woff2') format('woff2'),
        url('27a1df69ddfd92372d990ca79837cfc0.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

