@font-face {
  font-family: 'Avalon';
  src:
    url('AvalonPlain.woff2') format('woff2'),
    url('AvalonPlain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
