/* var */
:root {
    --orange: #f42;
    --white: #fff;
    --gray-small-text: #555;
    --gray-currency: #aaa;
    --gray-social: #333;
    --footer-background: rgb(7, 7, 7);
}
/* reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
a {
    text-decoration: none;
}

/* base style */
body {
    font-family: '.';
    
}
 .grid {
    display: grid;
}
.flex {
    display: flex;
} 

/* fonts */
html {
  font-size: 100%; /* 1rem == 16px */
}
h1 {
  font-family: "TNW Avalon", sans-serif;
  font-size: 1.25em;
  line-height: 1.375em;
  letter-spacing: -0.01875em;
  color: var(--white);
}
/* mobile style */

  /* === hero === */

  .hero {
    height: 550px;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 8px;
  }
  .hero-logo-box {
    display: none;
  }
  .hero > section {
    /* border: 1px solid blue; */
    margin: 0 5px;
    padding: 4px;
    background-size: 100% 120%;
  }
  .hero section:first-child {
    /* border: 1px solid blue; */
    background-image:
    linear-gradient(to left top,
		rgba(0, 0, 0, 0.85),
		rgba(0, 0, 0, 0.25)), 
  url(./imgs/catagory7and1.jpg); 

  }
  .hero section:nth-child(2) {
    /* border: 1px solid green; */
    background-image: 
	linear-gradient(to left top,
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.25)), 
  url(./imgs/hero2.jpg); 
  }
  .hero section:nth-child(3) {
    /* border: 1px solid green; */
    background-image: 
    linear-gradient(to left top,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.25)), 
    url(./imgs/hero3.jpg);
  }
  .hero section div:last-child {
    border: 1px solid yellow
  }
  /* .main-text-sub */
/* iPad */
@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {

}


